# Python Bytecode
__pycache__/
*.py[cod]

# Environment Variables
.env

# Virtual Environment
venv/
env/
ENV/
.venv/

# Package Distribution
dist/
build/
*.egg-info/

# Database files
*.db
*.sqlite3

# Uploaded files
uploaded_files/

# Logs
*.log

# IDE or Editor specific files
.vscode/
.idea/
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Miscellaneous
*.DS_Store
Thumbs.db
